body, html {
  margin: 0;
  padding: 0;
  font-family: open sans;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.landing {
  width: 100%;
  padding-bottom: 30px;
  background-color: white;
  background: url("/static/images/loginPageImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.shade {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: white;
}

.header {
  float: right;
  margin-right: 10%;
  padding-top: 20px;
}

.head {
  list-style-type: none;
}

.hItem {
  float: left;
  margin-left: 50px;
  font-size: 18px;
  position: relative;
}

.hItem:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

.hItem:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.buttons {
  width: 335px;
  margin: auto;
  margin-top: 150px;
}

.btn {
  padding: 15px 25px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #1B98E0;
  border-radius: 2px;
  color: white;
  background-color: hsl(202, 78%, 49%);
  border-bottom: 3px solid rgb(23, 126, 187);
  margin-right: 15px;
  float: left;
}

.btn:focus {
  outline: none;
  background-color: rgb(23, 126, 187);
  border: 2px solid rgb(23, 126, 187);
  border-bottom-width: 3px;
}

.formArea {
  width: 300px;
  padding: 70px 150px;
  background-color: white;
  margin: auto;
  margin-top: 8%;
  color: #333;
  border-radius: 2px;
}

.title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
}

.field {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 2px;
  padding: 4px;
  font-size: 18px;
}

.field:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 10px #1B98E0;
  width: 304px;
  height: 25px;
}

.lilfield {
  width: 40px;
  border: 2px solid #ccc;
  border-radius: 2px;
  padding: 4px;
  font-size: 18px;
}

.lilfield:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 10px #1B98E0;
  height: 25px;
  width: 44px;
}

.readonly {
  background-color: rgba(0,0,0,0.2);
}

.readonly:focus {
  box-shadow: none;
  border: 2px solid #ccc;
  width: 100%;
  height: inherit;
}

.lilreadonly {
  background-color: rgba(0,0,0,0.2);
}

.lilreadonly:focus {
  box-shadow: none;
  height: inherit;
  width: 40px;
  border: 2px solid #ccc;
}

.hide {
  display: none !important;
}

.radio {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 2px;
}

.radio:checked {
  background-color: blue;
}

#terms {
  margin-top: 10px;
  margin-bottom: 10px;
}

.label {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.err {
  display: none;
  padding: 4px 8px;
  background-color: #ff5757;
  margin-top: 44px;
  margin-bottom: 10px;
  border-radius: 2px;
  width: calc(100% - 5px);
}

.error {
  width: 100%;
  float: left;
  background-color: #ffa7a7;
  border-radius: 2px;
  display: none;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.errors {
  background-color: #ff5757;
  padding: 5px 10px;
  border-radius: 2px;
  display: none;
}