body, html {
  margin: 0;
  padding: 0;
  font-family: open sans;
  height: 100%;
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #7E7E7E;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  float: left;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4E4C4C;
}

.head {
  list-style-type: none;
}

.account {
  float: left;
  width: 100%;
  height: 200px;
  margin-top: 15px;
}

#logo {
  width: 90%;
  margin-left: 5%;
}

.item {
  float: left;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px groove #b8b8b8;
}

.itemIcon {
  float: left;
  margin-left: 15px;
}

.itemText {
  margin: 0;
  float: left;
  margin-left: 15px;
  color: white;
}

.hItem:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

.hItem:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.mainCont{
  width: calc(100% - 200px);
  float: right;
}

.greetCont {
  width: calc(100% - 40px);
  margin-right: 20px;
  margin-left: 20px;
  border-bottom: 1px solid lightblue;
}

.greet {
  padding-left: 20px;
}

.sectTitle {
  width: 100%;
  border-bottom: 1px solid lightblue;
  margin-bottom: 10px;
  padding-left: 20px;
}

.section {
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-top: 20px;
}

.boxes {
  padding-left: 20px;
}

#text {
  max-width: 100%;
  min-width: 350px;
  width: 500px;
  height: 300px;
  max-height: 500px;
  min-height: 150px;
  border-radius: 2px;
  font-family: inherit;
  font-size: 16px;
  padding: 5px;
  margin-left: 20px;
}

#text:focus{
  outline-color: #48b5e9;
}

.btn {
  padding: 12px 20px;
  text-align: center;
  font-size: 17px;
  border: 2px solid #1B98E0;
  border-radius: 2px;
  color: white;
  background-color: hsl(202, 78%, 49%);
  border-bottom: 3px solid rgb(23, 126, 187);
  margin-right: 15px;
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}

.btn:focus {
  outline: none;
  background-color: rgb(23, 126, 187);
  border: 2px solid rgb(23, 126, 187);
  border-bottom-width: 3px;
}

#success {
  display: none;
  padding: 5px 10px;
  background-color: #92ff92;
  border-radius: 3px;
}